<h1>Lista de sismos </h1>

<table>
<thead>
    <td>id</td>
</thead>
<% @result.each do |resultados| %>
<tbody>
#para imprimir resultados en ruby toca poner <%= para poder mostrar los resultados
    <td><%= resultados['geometry']%></td>
</tbody>

<%end%>
</table>
